{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Video Upload and Display</title>
		<!--Progress-bar-->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/app.css' %}">    
	</head>
    <body>

		{% if user.is_authenticated %}
			Hi {{ user.email }}!


			<div class="col-lg-6 col-md-6" style="margin: 0 auto; display: block; margin-top: 100px;">					<fieldset name="Video File Upload and Display">
					<!-- {% if msg %} {% autoescape off %} {{ msg }} {% endautoescape %} {% endif %} -->
					<form id="post-form" method="post" action="/" enctype="multipart/form-data">
						{% csrf_token %}
						<dl>
							<p>
								<label>Title:</label>&nbsp;&nbsp;
								<input name="title" id="title" placeholder="title" type="text" autocomplete="off">     
								<br>                
								<label>Browse and select a video file</label>&nbsp;&nbsp;
								<input type="file" id="fileupload" name="video" autocomplete="off" required>
							</p>
						</dl>
						<p>
							<input type="submit" id="submit" class="btn btn-primary" value="Upload">
						</p>
					</form>
				</fieldset>
				<h2>Uploaded Videos</h2>
				{% for video in videos %}
				  {{ video.title }}
				  {{ video.file.name }}
				  (Duration: {{ video.duration }}s, {{ video.width }}x{{ video.height }})
				  <br>
				{% endfor %}
	
				<!-- {% if filename %} -->
				<!-- <div style="margin: 10px auto;">
					<video autoplay="autoplay" controls="controls" preload="preload">
						<source src="{{ MEDIA_URL }}/{{ video }}" type="video/mp4"></source>
					</video>
				</div> -->
				<!-- {% endif %} -->
			</div>
			<div>
				<p><a href="{% url 'list' %}">Video List</a></p>

			</div>
			<div>
				<p><a href="{% url 'logout' %}">Log Out</a></p>
			</div>




		{% else %}
			<p>You are not logged in</p>
			<a href="{% url 'login' %}">Log In</a>
			<a href="{% url 'signup' %}">Sign Up</a>
		{% endif %}
		
    </body>
</html>